*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  flex: content;
  width: 100%;
}

body{
  background-color: aliceblue;
  font-family: "Poppins", "san-serif";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}

ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label{
  cursor: pointer;
}


@media screen and (min-width: 601px){
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');





.quiz-container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header{
  padding: 4rem;
}


.quiz-topic{
  background-color: blue;
  color: #fff;
  /* border: none; */
  display: inline-flex;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: none;
  text-align: center;
}

#quiz-topic-tile{
  max-width: 33.33%;
  border-radius: 30px;
}

button{
  background-color: blue;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}

button:hover{
  background-color: skyblue;
}

button:focus{
  outline: none;
  background-color: greenyellow;
}
}


@media screen and (max-width: 600px) {

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


.quiz-container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 100%;
  overflow: hidden;
}

.quiz-header{
  padding: 2rem;
}


.quiz-topic{
  background-color: blue;
  color: #fff;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: none;
  text-align: center;
}

#quiz-topic-tile{
  float: none;
  width: 100%;
}

button{
  background-color: blue;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}

button:hover{
  background-color: skyblue;
}

button:focus{
  outline: none;
  background-color: greenyellow;
}

}